{% extends 'main/base.html' %}

{% block content %}
<div class="row">
    <div class="leftcolumn">
        {% for oneblogpost in blogposts %}
        <div class="card">
            <a href="{% url 'blog_post' oneblogpost.id %}">
                <h2>{{ oneblogpost.heading }}</h2>
            </a>
            <h5><a href="{% url 'category' oneblogpost.category %}">{{ oneblogpost.category }}</a>, {{ oneblogpost.date }}</h5>
            <a href="{% url 'blog_post' oneblogpost.id %}"><img src="{{ oneblogpost.image.url }}"
                    style="height:183px;width:275px;" /></a>
            <br />
            <p>{{ oneblogpost.description }}</p>
        </div>
        {% endfor %}
        {% if blogposts.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ blogposts.previous_page_number }}">Previous</a>
        {% endif %}

        Page: {{ blogposts.number }} of {{ blogposts.paginator.num_pages }} <br />

        {% if blogposts.has_next %}
        <a href="?page={{ blogposts.next_page_number }}">Next</a>
        <a href="?page={{ blogposts.paginator.num_pages }}">Last</a>
        {% endif %}
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>About Me</h2>
            <div class="fakeimg" style="height:100px;">Image</div>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        </div>
        <div class="card">
            <h3>Popular Post</h3>
            <div class="fakeimg">Image</div><br>
            <div class="fakeimg">Image</div><br>
            <div class="fakeimg">Image</div>
        </div>
        <div class="card">
            <h3>Follow Me</h3>
            <p>Some text..</p>
        </div>
    </div>
</div>

<div class="footer">
    <h2>Footer</h2>
</div>
{% endblock %}
